:root {
  /*--primary-color: #f8f5ef; */
  --primary-color: #fcf5ee;
  --secondary-color: #df8052;
  --border-color: #e0dad1;

  --max-width: 1100px;
  --padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

button {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}
