---

---

<section>
  <article>
    <h3>¿Listo para empezar a leer?</h3>
    <p>
      Sin registro, sin instalación. Todo funciona direactamente en tu navegador
    </p>
    <a href="https://bookteka.up.railway.app">Probar ahora - es gratis</a>
  </article>
</section>

<style>
  section {
    width: 100%;
    padding: 100px 20px;
  }

  article {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 20px;
  }

  h3 {
    font-size: 24px;
  }

  a {
    background-color: var(--secondary-color);
    padding: 10px 35px;
    color: white;
    border-radius: 7px;
  }
</style>
