PORT= 3000
DATABASE_URL=postgres://usuario:password@localhost:5432/bookteka_db?schema=public
FRONTEND_URL=http://localhost:5173
BETTER_AUTH_SECRET=WsEGMicmTmVF0Tln8NEkfwZkrEmIePQB
BETTER_AUTH_URL=http://localhost:3000

R2_ACCESS_KEY_ID=sajkflasjfñasjkfj
R2_SECRET_ACCESS_KEY=skdflñasj1123lasdflkja
R2_ENDPOINT=https:// fjaljdf lañjfd
R2_PUBLIC_DOMAIN=https://jsdlkajfñl
R2_BUCKET=slakdjflakjfñ

RESEND_API_KEY=re_xxxxxxxxxxxx
RESEND_FROM_EMAIL=onboarding@resend.dev
