.streakCard {
  position: relative;
  background: var(--altern-color);
  border: 1px solid #f9731633;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.streakLeft {
  display: flex;
  gap: 12px;
  align-items: center;
}

.flame {
  background: var(--altern-secondary-color);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}

.streakNumber {
  font-size: 28px;
  font-weight: bold;
  color: #f97316;
}

.streakText {
  font-size: 14px;
  color: var(--font-color-title);
}

.streakDate {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: var(--font-color-text);
}

