.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.container label {
  color: var(--font-color-title);
}

.container input {
  width: 100%;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--font-color-title);
  padding: 5px 10px;
}
