---
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    /*--primary-color: #f8f5ef; */
    --primary-color: #fcf5ee;
    --secondary-color: #df8052;
    --font-color-title: #38332e;
    --font-color-text: #7e7367;
    --border-color: #e0dad1;

    --max-width: 1100px;
    --padding: 20px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--primary-color);
  }

  main {
    padding-top: 100px;
    max-width: var(--max-width);
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--font-color-title);
  }

  p {
    color: var(--font-color-text);
    font-size: 1.25rem;
  }

  button {
    border: none;
    background-color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
</style>
