.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.reader {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.text {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 100px;
}

.readerContent {
  flex: 1;
  overflow-y: auto;
  padding: 7rem 2rem;
  background-color: var(--preview-color);
}
