.header {
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--border-color);
  background: #f6f4ee;
  background: var(--window-color);
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoContainer img {
  width: 24px;
}

.iconBox {
  background: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: var(--font-color-title);
}

.fileName {
  font-size: 14px;
  color: #666;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--font-color-text);
}

/* Right side */
.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconButton {
  background: none;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.iconButton:hover {
  background: var(--primary-color);
}
