.statCard {
  background: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 12px;
}

.statValue {
  font-size: 22px;
  font-weight: bold;
  color: var(--font-color-title);
}

.statLabel {
  font-size: 14px;
  color: #666;
}
