:root {
  --max-width: 1100px;
  --error-color: #dc3545;
  --padding: 20px;
}

[data-theme="dark"] {
  --primary-color: #1c1a16;
  --secondary-color: #df8052;
  --third-color: #36281f;
  --four-color: #25211d;
  --card-color: #231f1a;
  --altern-color: #332516;
  --altern-secondary-color: #5a3315;

  --window-color: #292420;
  --preview-color: #171412;
  --font-color-title: #ebe7e0;
  --font-color-text: #7e7367;
  --border-color: #3f3831;
}

[data-theme="light"] {
  --primary-color: #fcf5ee;
  --secondary-color: #df8052;
  --third-color: #f2e4d9;
  --four-color: #f4f2ec;
  --card-color: #f7f4ed;
  --altern-color: #f7ebda;
  --altern-secondary-color: #f7d1b2;

  --window-color: #f1eee6;
  --preview-color: #f6f4ee;

  --font-color-title: #38332e;
  --font-color-text: #7e7367;
  --border-color: #e0dad1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

button {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 7px;
  cursor: pointer;
}
