.header {
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
}

.header article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonContainer button {
  width: 100%;
  padding: 6px 16px;
}
