.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--preview-color);
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--preview-color);
  }

  .container img {
    width: 200px;
  }
}
