.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
}

.header article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.article p {
  font-size: 14px;
  color: #666;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header h1 {
  font-size: 18px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buttonContainer button {
  width: 100%;
  padding: 6px 16px;
}
