.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color-title);
  background-color: var(--four-color);
  border-left: 1px solid var(--border-color);
}

.iconContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  color: var(--font-color-title);
}

.form h4 {
  font-size: 2rem;
}

.form p {
  color: var(--font-color-text);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--font-color-title);
}

.inputs button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: bold;
}

.notAccount {
  margin-top: 20px;
}

.notAccount span {
  display: flex;
  gap: 5px;
  color: var(--font-color-text);
}

.notAccount a {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.notAccount a:hover {
  border-bottom: 1px solid var(--secondary-color);
}
