.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color-title);
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  color: var(--font-color-title);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.inputs button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.notAccount {
  margin-top: 20px;
}

.notAccount span {
  display: flex;
  gap: 5px;
}

.notAccount a {
  color: var(--secondary-color);
  border-bottom: 1px solid black;
}

.notAccount a:hover {
  border-bottom: 1px solid var(--secondary-color);
}
