.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.container img {
  width: 50%;
}

.container h1 {
  color: var(--font-color-title);
  font-size: 3.25rem;
}
