---
import logoDark from "@/assets/logoDark.svg";
import logoLight from "@/assets/logoLight.svg";
---

<footer>
  <div>
    <article>
      <img src={logoDark.src} alt="logo" class="logo dark" />
      <img src={logoLight.src} alt="logo" class="logo light" />

      <h3>Bookteka</h3>
    </article>
    <p>Hecho con cariño para los amantes de la lectura.</p>
  </div>
</footer>

<style>
  .logo {
    display: none;
  }

  html[data-theme="dark"] .dark,
  html[data-theme="light"] .light {
    display: block;
  }

  footer {
    width: 100%;
    padding: 30px 40px;
    border-top: 1px solid var(--border-color);
  }

  article {
    display: flex;
    gap: 10px;
  }

  div {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 16px;
  }

  img {
    width: 24px;
  }

  @media only screen and (max-width: 1024px) {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
    }
  }
</style>
