---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Bookteka</title>

    <script>
      (function () {
        const savedTheme =
          localStorage.getItem("theme") ||
          (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
        document.documentElement.setAttribute("data-theme", savedTheme);
      })();
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script>
      document.querySelectorAll(".theme-button").forEach((btn) => {
        btn.addEventListener("click", () => {
          const html = document.documentElement;
          const newTheme =
            html.getAttribute("data-theme") === "dark" ? "light" : "dark";
          html.setAttribute("data-theme", newTheme);
          localStorage.setItem("theme", newTheme);
        });
      });
    </script>
  </body>
</html>

<style is:global>
  :root {
    --max-width: 1100px;
    --padding: 20px;
  }

  [data-theme="dark"] {
    --primary-color: #1c1a16;
    --secondary-color: #df8052;
    --third-color: #36281f;
    --four-color: #25211d;

    --window-color: #292420;
    --preview-color: #171412;
    --font-color-title: #ebe7e0;
    --font-color-text: #7e7367;
    --border-color: #3f3831;
  }

  [data-theme="light"] {
    --primary-color: #fcf5ee;
    --secondary-color: #df8052;
    --third-color: #f2e4d9;
    --four-color: #f4f2ec;

    --window-color: #f1eee6;
    --preview-color: #f6f4ee;

    --font-color-title: #38332e;
    --font-color-text: #7e7367;
    --border-color: #e0dad1;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--primary-color);
  }

  main {
    padding-top: 100px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--font-color-title);
  }

  p {
    color: var(--font-color-text);
    font-size: 1.25rem;
  }

  button {
    border: none;
    background-color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--font-color-title);
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;

    background: black;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    background: red;
    height: 16px;
    width: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;

    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
</style>
