.header {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.header article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.article p {
  font-size: 14px;
  color: var(--font-color-text);
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header h1 {
  font-size: 20px;
  color: var(--font-color-title);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoContainer img {
  width: 24px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  width: 100%;
  padding: 10px 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.buttonTheme {
  background-color: transparent;
}
