.main {
  width: 100%;
  margin: auto;
  max-width: var(--max-width);
  padding: var(--padding);
  padding-top: 105px;
}

.isProfile {
  width: 100%;
  margin: auto;
  max-width: var(--max-width);
  padding: 0px;
}
